/*************** HOME PAGE ******************/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Style the header */
.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

/* Left and right column */
.column.side {
  width: 25%;
}

/* Middle column */
.column.middle {
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}







/*************** Admin ******************/
#post_list {
    border-collapse: collapse;
    width: 100%;
  }
  
  #post_list td, #post_list th {
    border: 1px solid #ddd;
    padding: 0.5rem;
  }
  
  #post_list tr:nth-child(even){background-color: #f2f2f2;}
  
  #post_list tr:hover {background-color: #ddd;}
  
  #post_list th {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }