/*************** FONTS ******************/
@font-face { font-family: OpenSans; src: url('../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf'); }
@font-face { font-family: OpenSans-Italic; src: url('../fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth\,wght.ttf'); }
@font-face { font-family: Ubuntu; src: url('../fonts/Ubuntu/Ubuntu-Regular.ttf'); }
@font-face { font-family: Ubuntu-Bold; src: url('../fonts/Ubuntu/Ubuntu-Bold.ttf'); }

label { font-family: OpenSans, sans-serif; }
h1 { font-family: Ubuntu-Bold, sans-serif; }
h2 { font-family: Ubuntu, sans-serif; }
h4 { font-family: OpenSans-Italic, sans-serif; }
p { font-family: OpenSans, sans-serif; }
a { font-family: OpenSans, sans-serif; text-decoration: none; }
a:hover { text-decoration: underline; }
/*************** HOME PAGE LAYOUT ******************/
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
/* Style the header */
.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}
/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}
/* Left and right column */
.column.side {
  width: 25%;
}
/* Middle column */
.column.middle {
  width: 50%;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.tagsDateUser {
  
  color: purple;
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .column.side, .column.middle {
    width: 100%;
  }
}
/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}
.footerLink i {
  vertical-align: middle;
  margin-right: 0.313rem;
}
.footerLink a {
  color: purple;
  font-family: OpenSans, sans-serif;
}
/*************** END HOME PAGE LAYOUT ******************/
/*************** PAGINATION ******************/
.pagination {
  display: inline-block;
  display: flex;
  justify-content: center;
  font-family: OpenSans, sans-serif;
}
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}
.pagination a.active {
  background-color: purple;
  color: white;
}
.pagination a:hover:not(.active) {background-color: #ddd;}
/*************** END PAGINATION ******************/




/*************** Admin ******************/
#list {
    border-collapse: collapse;
    width: 100%;
    font-family: OpenSans, sans-serif;
  }
  #list td, #list th {
    border: 1px solid #ddd;
    padding: 0.5rem;
  }
  #list tr:nth-child(even){background-color: #f2f2f2;}
  #list tr:hover {background-color: #ddd;}
  #list th {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    text-align: left;
    background-color: purple;
    color: white;
  }