/*************** HOME PAGE LAYOUT ******************/
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
/* Style the header */
.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}
/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}
/* Left and right column */
.column.side {
  width: 25%;
}
/* Middle column */
.column.middle {
  width: 50%;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}
/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}
/*************** END HOME PAGE LAYOUT ******************/
/*************** PAGINATION ******************/
.pagination {
  display: inline-block;
  display: flex;
  justify-content: center;
}
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}
.pagination a.active {
  background-color: #4CAF50;
  color: white;
}
.pagination a:hover:not(.active) {background-color: #ddd;}
/*************** END PAGINATION ******************/




/*************** Admin ******************/
#list {
    border-collapse: collapse;
    width: 100%;
  }
  #list td, #list th {
    border: 1px solid #ddd;
    padding: 0.5rem;
  }
  #list tr:nth-child(even){background-color: #f2f2f2;}
  #list tr:hover {background-color: #ddd;}
  #list th {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }